[Unit]
Description=Display module updater
After=temperature_reader.service

[Service]
ExecStart=/home/mikkop/git_repos/iot-kurssi/pydisplay/.venv/bin/python /home/mikkop/git_repos/iot-kurssi/pydisplay/main.py
Restart=always

[Install]
WantedBy=multi-user.target
