[Unit]
Description=Temperature Reader and API
After=network-online.target

[Service]
ExecStart=/home/mikkop/git_repos/iot-kurssi/temperature_reader/target/release/temperature_reader
Restart=always

[Install]
WantedBy=network-online.target
